.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    align-self: center;
}


.carousel {
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
    text-align: center;
    transition: transform 0.5s ease; 
    gap: 10px;
}

.carousel-img {
    width: 6vw;
    height: 16vh;
    margin: 0% 2% 0% 2%;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);/*Définition d'un ombrage */
    border: 2px solid;
    border-radius: 3%;
}

.carousel-img a{
    text-decoration: none;
}

.carousel-img:hover {
    transform: scale(1.1); /* Agrandissement de l'image sur survol */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /*Définition d'un ombrage */
}

.carousel-container .button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.carousel-transition {
    transition-duration: 3s; 
    transition-timing-function: ease-out; 
}

#prevButton{
    transform: rotate(180deg); /* Angle de rotation en degrés */
}

.buttonCarousel{
    fill: black;
}