{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/aside.css')}}">
{% endblock %}

<h4>Actualités du refuge.</h4>

<div>
Le Refuge de Saint Brès pour Équidés a le plaisir d'annoncer sa dernière réalisation : 
un nouvel espace d'accueil pour nos amis à quatre pattes. Notre engagement envers le bien-être des chevaux maltraités, âgés ou abandonnés ne cesse de grandir, 
et cet ajout marque une étape significative dans notre parcours.
</div>
<br>
<div>
Ce nouvel espace offre des installations modernes et spacieuses pour nos résidents équins. 
Les box sont conçus pour garantir un confort optimal, et les aires de pâturage sont vastes pour permettre à nos chevaux de profiter de l'extérieur en toute sécurité.
</div>
<br>
<div>
Notre équipe dévouée de soigneurs et de bénévoles est enthousiaste à l'idée de voir nos pensionnaires s'épanouir dans ce nouvel environnement. 
Ils ont déjà commencé à explorer leur nouveau chez-eux et à s'adapter à leur nouvelle vie.
</div>
<br>
<div>
Nous sommes reconnaissants envers nos généreux donateurs et partenaires qui ont rendu ce projet possible. 
Le Refuge de Saint Brès pour Équidés continue d'avancer avec confiance dans sa mission de donner une seconde chance aux chevaux dans le besoin, 
et ce nouvel espace renforce notre capacité à le faire. Restez à l'écoute pour plus de mises à jour passionnantes !
</div>
